@using PRCR.Models;
@model DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">

        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.statusWiseData.Where(x => x.RequestType == "PR" && x.Status == null).FirstOrDefault().TotalRequest</h3>

                    <p>Issue/Problem Requests</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.statusWiseData.Where(x => x.RequestType == "CR" && x.Status == null).FirstOrDefault().TotalRequest</h3>

                    <p>New Requests</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        @*<div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>0</h3>

              <p>Change Request</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>*@
        <!-- ./col -->
        @*<div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Complete Request</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>*@
        <!-- ./col -->
        <div class="col-md-6">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        @*<img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">*@
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Issue/Problem Request Status Wise</h3>
                    @*<h5 class="widget-user-desc">Lead Developer</h5>*@
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @*@foreach (var item in Model.Where(x => x.RequestType == "PR" && x.Status != null))
                  {
                      <li><a href="@Url.Action("RequestList", "Request", new { type = ViewBag.UserType,StatusId = item.StatusId})">@item.Status <span class="pull-right badge bg-blue">@item.TotalRequest</span></a></li>
                  } *@

                        @if (Model.statusWiseData.Where(x => x.RequestType == "PR" && x.Status != null).ToList().Count > 0)
                        {
                            foreach (var item in Model.statusWiseData.Where(x => x.RequestType == "PR" && x.Status != null))
                            {
                            <li><a href="@Url.Action("RequestList", "Request", new { type = ViewBag.UserType, StatusId = item.StatusId })">@item.Status <span class="pull-right badge bg-blue">@item.TotalRequest</span></a></li>
                            }
                        }
                        else
                        {
                            <li style="text-align: center; padding: 10px;">No Request Found</li>
                        }
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        @*<img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">*@
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">New Request Status Wise</h3>
                    @*<h5 class="widget-user-desc">Lead Developer</h5>*@
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @if (Model.statusWiseData.Where(x => x.RequestType == "CR" && x.Status != null).ToList().Count > 0)
                        {
                            foreach (var item in Model.statusWiseData.Where(x => x.RequestType == "CR" && x.Status != null))
                            {
                            <li><a href="@Url.Action("RequestList", "Request", new { type = ViewBag.UserType, StatusId = item.StatusId })">@item.Status <span class="pull-right badge bg-blue">@item.TotalRequest</span></a></li>
                            }
                        }
                        else
                        {
                            <li style="text-align: center; padding: 10px;">No Request Found</li>
                        }
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <!-- Location wise -->
        <div class="col-md-6">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        @*<img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">*@
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Issue/Problem Request Location Wise</h3>
                    @*<h5 class="widget-user-desc">Lead Developer</h5>*@
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @*@foreach (var item in Model.Where(x => x.RequestType == "PR" && x.Status != null))
                  {
                      <li><a href="@Url.Action("RequestList", "Request", new { type = ViewBag.UserType,StatusId = item.StatusId})">@item.Status <span class="pull-right badge bg-blue">@item.TotalRequest</span></a></li>
                  } *@

                        @if (Model.locationWiseData.Where(x => x.RequestType == "PR" && x.LocationName != null).ToList().Count > 0)
                        {
                            foreach (var item in Model.locationWiseData.Where(x => x.RequestType == "PR" && x.LocationName != null))
                            {
                            <li><a href="@Url.Action("RequestList", "Request", new { type = ViewBag.UserType, LocationId = item.LocationId })">@item.LocationName <span class="pull-right badge bg-blue">@item.TotalRequest</span></a></li>
                            }
                        }
                        else
                        {
                            <li style="text-align: center; padding: 10px;">No Request Found</li>
                        }
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        @*<img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">*@
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">New Request Location Wise</h3>
                    @*<h5 class="widget-user-desc">Lead Developer</h5>*@
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        @if (Model.locationWiseData.Where(x => x.RequestType == "CR" && x.LocationName != null).ToList().Count > 0)
                        {
                            foreach (var item in Model.locationWiseData.Where(x => x.RequestType == "CR" && x.LocationName != null))
                            {
                            <li><a href="@Url.Action("RequestList", "Request", new { type = ViewBag.UserType, LocationId = item.LocationId })">@item.LocationName <span class="pull-right badge bg-blue">@item.TotalRequest</span></a></li>
                            }
                        }
                        else
                        {
                            <li style="text-align: center; padding: 10px;">No Request Found</li>
                        }
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <!-- /.col -->
    </div>
</section>
